<!DOCTYPE html>
<html lang="es">
<%- include('partials/head'); %>

	<body>
		<%- include('partials/navbar'); %>

			<div class="container" style="margin-top:30px; margin-bottom: 30px;">
				<div class="row justify-content-center">
					<div class="col-md-10">
						<h2>Formulário de registro</h2>

						<form method="POST" action="/users/register" enctype="multipart/form-data">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label><b>Nome completo:</b></label>
										<input type="text" name="full_name"
											value="<%= locals.oldData && oldData.full_name ? oldData.full_name : '' %>"
											class="form-control <%= locals.errors && errors.full_name ? 'is-invalid' : '' %> ">
										<%if(locals.errors && errors.full_name){%>
											<div class="invalid-feedback">
												<%=errors.full_name.msg%>
											</div>
											<%}%>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label><b>Email:</b></label>
										<input type="text" name="email"
											value="<%= locals.oldData && oldData.email ? oldData.email : '' %>"
											class="form-control <%=locals.errors && errors.email ? 'is-invalid' : ''%> ">
										<%if(locals.errors && errors.email){%>
											<div class="invalid-feedback">
												<%=errors.email.msg%>
											</div>
											<%}%>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label><b>Senha:</b></label>
										<input type="password" name="password"
											class="form-control <%=locals.errors && errors.password ? 'is-invalid' : '' %>">
										<%if(locals.errors && errors.password){%>
											<div class="invalid-feedback">
												<%=errors.password.msg%>
											</div>
											<%}%>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label><b>Repetir senha:</b></label>
										<input type="password" name="re_password"
											class="form-control <%=locals.errors && errors.re_password ? 'is-invalid' : '' %>">
										<%if(locals.errors && errors.re_password){%>
											<div class="invalid-feedback">
												<%=errors.re_password.msg%>
											</div>
											<%}%>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label><b>País de nascimento:</b></label>
										<select name="country"
											class="form-control <%=locals.errors && errors.country ? 'is-invalid' : '' %>">
											<%if(locals.oldData && oldData.country){%>
												<% let oldCountryCode=oldData.country; %>
													<% function findCountryByName(oldCountryCode) { 
														
														let countries = [
                                             		{ code: 'Arg', name: 'Argentina' },
       												{ code: 'Bol', name: 'Bolívia' },
       												{ code: 'Bra', name: 'Brasil' },
       												{ code: 'Col', name: 'Colômbia' },
    											    { code: 'Chi', name: 'Chile' },
        											{ code: 'Ecu', name: 'Equador' },
       												{ code: 'Par', name: 'Paraguai' },
        											{ code: 'Per', name: 'Peru' },
        											{ code: 'Uru', name: 'Uruguai' },
        											{ code: 'Ven', name: 'Venezuela' },
													];

													let oldCountry=countries.find((country)=> country.code == oldCountryCode);
													return oldCountry.name;
													} %>

														<option hidden value="<%=oldData.country%>"><%=findCountryByName(oldCountryCode)%></option>
														<%}else{%>
															<option hidden value="">Escolha um país</option>
															<%}%>
																<% let countries=[ 
																{ code: 'Arg', name: 'Argentina' },
       															{ code: 'Bol', name: 'Bolívia' },
       															{ code: 'Bra', name: 'Brasil' },
       															{ code: 'Col', name: 'Colômbia' },
    											    			{ code: 'Chi', name: 'Chile' },
        														{ code: 'Ecu', name: 'Equador' },
       															{ code: 'Par', name: 'Paraguai' },
        														{ code: 'Per', name: 'Peru' },
        														{ code: 'Uru', name: 'Uruguai' },
        														{ code: 'Ven', name: 'Venezuela' },
																];
																	
																	for (const oneCountry of countries) { %>
																	<option value="<%= oneCountry.code %>">
																		<%= oneCountry.name %>
																	</option>
																	<% } %>
										</select>
										<%if(locals.errors && errors.country){%>
											<div class="invalid-feedback"><%=errors.country.msg%></div>
										<%}%>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label><b>Imagem do perfil:</b></label>
										<div class="custom-file">
											<input type="file" name="avatar" class="custom-file-input <%=locals.errors && errors.avatar ? 'is-invalid' : '' %>">
											<label class="custom-file-label">Escolha o arquivo...</label>
											<% if (locals.errors && errors.avatar) { %>
												<div class="invalid-feedback"><%= errors.avatar.msg %></div>
											<% } %>
										</div>
									</div>									
								</div>
								<div class="col-12">
									<button type="submit" class="btn btn-primary">Registrar-se</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<%- include('partials/footer'); %>
	</body>

</html>